# 🔌 Dependencias y locks
node_modules
package-lock.json
yarn.lock

# ⚙️ Archivos del sistema y variables de entorno
.DS_Store
.env
.env.*

# 📦 Archivos generados o de build
dist
build
uploads
logs
*.log

# 🎨 Archivos multimedia o estáticos
public
assets
frontend/assets

# 🧾 Archivos de configuración o control de versiones
.git
.gitignore
.prettierrc
.prettierignore
.eslintrc.json
.eslintignore
